@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	margin: 0;
}

@layer base {
  :root {
		--background: #ffffff;
		--sidebar-bg: #f8fafc;
		--sidebar-border: #e2e8f0;
		--sidebar-text: #1e293b;
		--sidebar-text-secondary: #334155;
		--sidebar-hover: #f1f5f9;
	}
  .dark {
		--background: #0f172a;
		--sidebar-bg: #1e293b;
		--sidebar-border: #334155;
		--sidebar-text: #f1f5f9;
		--sidebar-text-secondary: #cbd5e1;
		--sidebar-hover: #334155;
	}
}
