@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	margin: 0;
}

@layer base {
  :root {
	/* TODO: Change the light colours to not be so painful on the eyes */
	/* NOTE: Will add variety to the variables as needed to try and keep the theme consistent */

	/* Light Theme */
	/* Base colors */
   --light-bg-color: #f8fafc;
   --light-border-color: #e2e8f0;
   --light-text-color: #1e293b;
   --light-text-secondary-color: #334155;
   --light-hover-color: #f1f5f9;
   --light-active-color: #e2e8f0;



    /* Sidebar colors */
    --sidebar-bg: var(--light-bg-color);
    --sidebar-border: var(--light-border-color);
    --sidebar-text: var(--light-text-color);
    --sidebar-text-secondary: var(--light-text-secondary-color);
    --sidebar-hover: var(--light-hover-color);

    /* Header colors */
    --infoheader-bg: var(--bg-color);
    --infoheader-border: var(--border-color);
    --infoheader-text: var(--text-color);
    --infoheader-text-secondary: var(--text-secondary-color);

    /* Information Panel colors */
    --infopanel-bg: var(--light-bg-color);
    --infopanel-border: var(--light-border-color);
    --infopanel-text: var(--light-text-color);
    --infopanel-text-secondary: var(--light-text-secondary-color);

	/* Information Panel Card colors */
    --infopanel-card-bg: var(--light-bg-color);
    --infopanel-card-border: var(--light-border-color);
    --infopanel-card-title: var(--light-text-color);
    --infopanel-card-text: var(--light-text-secondary-color);

    /* Resident List/Tag colors */
    --resident-list-bg: var(--light-bg-color);
    --resident-list-border: var(--light-border-color);
    --resident-tag-bg: var(--light-bg-color);
    --resident-tag-border: var(--light-border-color);
    --resident-tag-text: var(--light-text-color);
    --resident-tag-hover: var(--light-hover-color);
    --resident-tag-selected: var(--light-active-color);

    /* Search Bar colors */
    --search-bg: var(--light-bg-color);
    --search-border: var(--light-border-color);
    --search-text: var(--light-text-color);
    --search-placeholder: var(--light-text-secondary-color);
    --search-icon: var(--light-text-color);
    --search-ring: var(--light-border-color);

    /* Custom Button colors */
    --button-bg: var(--light-bg-color);
    --button-border: var(--light-border-color);
    --button-text: var(--light-text-color);
    --button-hover: var(--light-hover-color);
    --button-active: var(--light-active-color);
  }

  .dark {
    /* Base colors */
    --background: #0f172a;

    /* Sidebar colors */
    --sidebar-bg: #223452;
    --sidebar-border: #334155;
    --sidebar-text: #f1f5f9;
    --sidebar-text-secondary: #cbd5e1;
    --sidebar-hover: #334155;

    /* Header colors */
    --infoheader-bg: #1e293b;
    --infoheader-border: #334155;
    --infoheader-text: #f1f5f9;
    --infoheader-text-secondary: #94a3b8;

    /* Information Panel colors */
    --infopanel-bg: #223452;
    --infopanel-border: #334155;
    --infopanel-text: #f1f5f9;
    --infopanel-text-secondary: #cbd5e1;

	/* Information Panel Card colors */
    --infopanel-card-bg: #1e293b;
    --infopanel-card-border: #334155;
    --infopanel-card-title: #f1f5f9;
    --infopanel-card-text: #cbd5e1;

    /* Resident List/Tag colors */
    --resident-list-bg: #1e293b;
    --resident-list-border: #334155;
    --resident-tag-bg: #223452;
    --resident-tag-border: #334155;
    --resident-tag-text: #f1f5f9;
    --resident-tag-hover: #334155;
    --resident-tag-selected: #1e293b;

    /* Search Bar colors */
    --search-bg: #223452;
    --search-border: #334155;
    --search-text: #f1f5f9;
    --search-placeholder: #94a3b8;
    --search-icon: #f1f5f9;
    --search-ring: #334155;

    /* Custom Button colors */
    --button-bg: #223452;
    --button-border: #334155;
    --button-text: #f1f5f9;
    --button-hover: #334155;
    --button-active: #1e293b;
  }
}
