@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	height: 100%;
	margin: 0;
	background-color: var(--page-bg);
}

.dark html, .dark body, .dark #root {
	background-color: var(--page-bg);
}

@layer base {
  :root {
	/* TODO: Change the light colours to not be so painful on the eyes */
	/* TODO: Try and see if i can make multiple css files for the components since this is getting messy */
	/* NOTE: Will add variety to the variables as needed to try and keep the theme consistent */

	/* Light Theme */
	/* Base colors */
   --light-page-bg: #f0eef5; 
   --light-bg-color: #f0eef5;  
   --light-bg-secondary-color: #e8e6ee;
   --light-border-color: #c4c1d3;  
   --light-text-color: #322d4d;  
   --light-text-secondary-color: #5d5683;  
   --light-hover-color: #dcd9e7;  
   --light-active-color: #ccc8dc;

   
   --dark-page-bg: #0f172a;
   --dark-bg-color: #0f172a;
   --dark-bg-secondary-color: #1e293b;
   --dark-border-color: #334155;
   --dark-text-color: #f1f5f9;
   --dark-text-secondary-color: #cbd5e1;
   --dark-hover-color: #334155;
   --dark-active-color: #1e293b;
   
   /* Destructive colors */
   --light-destructive-bg: #ef4444;
   --light-destructive-border: #dc2626;
   --light-destructive-text: #ffffff;
   --light-destructive-hover: #dc2626;
   --light-destructive-active: #b91c1c;

   --dark-destructive-bg: #ef4444;
   --dark-destructive-border: #dc2626;
   --dark-destructive-text: #ffffff;
   --dark-destructive-hover: #dc2626;
   --dark-destructive-active: #b91c1c;

   /* Submit colors */
   --light-submit-bg: #34d399;
   --light-submit-border: #10b981;
   --light-submit-text: #ffffff;
   --light-submit-hover: #10b981;
   --light-submit-active: #059669; 

   --dark-submit-bg: #059669;
   --dark-submit-border: #047857;
   --dark-submit-text: #ffffff;
   --dark-submit-hover: #047857;
   --dark-submit-active: #065f46;

   /* Page colors */
   	--page-bg: var(--light-page-bg);

	/* Error Page colors */
	--error-page-bg: var(--light-page-bg);
	--error-page-text: var(--light-text-color);
	--error-page-text-secondary: var(--light-text-secondary-color);

   /* Auth Page colors */
   --auth-page-bg: var(--light-page-bg);
   --auth-page-text: var(--light-text-color);
   --auth-page-text-secondary: var(--light-text-secondary-color);
   
    /* Sidebar colors */
    --sidebar-bg: var(--light-bg-color);
    --sidebar-border: var(--light-border-color);
    --sidebar-text: var(--light-text-color);
    --sidebar-text-secondary: var(--light-text-secondary-color);
    --sidebar-hover: var(--light-hover-color);

    /* Information Panel Header colors */
    --infoheader-bg: var(--light-bg-secondary-color);
    --infoheader-border: var(--light-border-color);
    --infoheader-text: var(--light-text-color);
    --infoheader-text-secondary: var(--light-text-secondary-color);

    /* Information Panel colors */
    --infopanel-bg: var(--light-bg-color);
    --infopanel-border: var(--light-border-color);
    --infopanel-text: var(--light-text-color);
    --infopanel-text-secondary: var(--light-text-secondary-color);

	/* Information Panel Card colors */
    --infopanel-card-bg: var(--light-bg-color);
    --infopanel-card-border: var(--light-border-color);
    --infopanel-card-title: var(--light-text-color);
    --infopanel-card-text: var(--light-text-secondary-color);

    /* Resident List/Tag colors */
    --resident-list-bg: var(--light-bg-color);
    --resident-list-border: var(--light-border-color);
    --resident-tag-bg: var(--light-bg-color);
    --resident-tag-border: var(--light-border-color);
    --resident-tag-text: var(--light-text-color);
    --resident-tag-hover: var(--light-hover-color);
    --resident-tag-selected: var(--light-active-color);

    /* Search Bar colors */
    --search-bg: var(--light-bg-color);
    --search-border: var(--light-border-color);
    --search-text: var(--light-text-color);
    --search-placeholder: var(--light-text-secondary-color);
    --search-icon: var(--light-text-color);
    --search-ring: var(--light-border-color);

    /* Dropdown colors */
    --dropdown-bg: var(--light-bg-color);
    --dropdown-border: var(--light-border-color);
    --dropdown-text: var(--light-text-color);
    --dropdown-hover: var(--light-hover-color);
    --dropdown-ring: var(--light-border-color);

    /* Custom Button colors */
    --button-bg: var(--light-bg-color);
    --button-border: var(--light-border-color);
    --button-text: var(--light-text-color);
    --button-hover: var(--light-hover-color);
    --button-active: var(--light-active-color);

    /* Custom Button Destructive colors */
    --button-destructive-bg: var(--light-destructive-bg);
    --button-destructive-border: var(--light-destructive-border);
    --button-destructive-text: var(--light-destructive-text);
    --button-destructive-hover: var(--light-destructive-hover);
    --button-destructive-active: var(--light-destructive-active);

    /* Custom Button Submit colors */
    --button-submit-bg: var(--light-submit-bg);
    --button-submit-border: var(--light-submit-border);
    --button-submit-text: var(--light-submit-text);
    --button-submit-hover: var(--light-submit-hover);
    --button-submit-active: var(--light-submit-active);

    /* Resident Details Card colors */
    --resident-details-bg: var(--light-bg-color);
    --resident-details-border: var(--light-border-color);
    --resident-details-title: var(--light-text-color);
    --resident-details-text: var(--light-text-secondary-color);
    --resident-details-section-title: var(--light-text-color);
    --resident-details-section-bg: var(--light-bg-color);

	/* Profile colors */
    --profile-bg: var(--light-bg-color);
    --profile-border: var(--light-border-color);
    --profile-title: var(--light-text-color);
    --profile-text: var(--light-text-secondary-color);

	/* Dialog colors */
    --dialog-bg: var(--light-bg-color);
    --dialog-border: var(--light-border-color);
    --dialog-title: var(--light-text-color);
    --dialog-text: var(--light-text-secondary-color);
  }

  .dark {

	/* Page colors */
    --page-bg: var(--dark-page-bg);

	/* Error Page colors */
	--error-page-bg: var(--dark-page-bg);
	--error-page-text: var(--dark-text-secondary-color);

    /* Auth Page colors */
    --auth-page-bg: var(--dark-page-bg);
    --auth-page-text: var(--dark-text-color);
    --auth-page-text-secondary: var(--dark-text-secondary-color);
    /* Sidebar colors */
    --sidebar-bg: var(--dark-bg-color);
    --sidebar-border: var(--dark-border-color);
    --sidebar-text: var(--dark-text-color);
    --sidebar-text-secondary: var(--dark-text-secondary-color);
    --sidebar-hover: var(--dark-hover-color);

    /* Header colors */
    --infoheader-bg: var(--dark-bg-secondary-color);
    --infoheader-border: var(--dark-border-color);
    --infoheader-text: var(--dark-text-color);
    --infoheader-text-secondary: var(--dark-text-secondary-color);

    /* Information Panel colors */
    --infopanel-bg: var(--dark-bg-color);
    --infopanel-border: var(--dark-border-color);
    --infopanel-text: var(--dark-text-color);
    --infopanel-text-secondary: var(--dark-text-secondary-color);

	/* Information Panel Card colors */
    --infopanel-card-bg: var(--dark-bg-color);
    --infopanel-card-border: var(--dark-border-color);
    --infopanel-card-title: var(--dark-text-color);
    --infopanel-card-text: var(--dark-text-secondary-color);

    /* Resident List/Tag colors */
    --resident-list-bg: var(--dark-bg-color);
    --resident-list-border: var(--dark-border-color);
    --resident-tag-bg: var(--dark-bg-color);
    --resident-tag-border: var(--dark-border-color);
    --resident-tag-text: var(--dark-text-color);
    --resident-tag-hover: var(--dark-hover-color);
    /* --resident-tag-selected: #1e293b; Double check this */

    /* Search Bar colors */
    --search-bg: var(--dark-bg-color);
    --search-border: var(--dark-border-color);
    --search-text: var(--dark-text-color);
    --search-placeholder: var(--dark-text-secondary-color);
    --search-icon: var(--dark-text-color);
    --search-ring: var(--dark-border-color);

    /* Dropdown colors */
    --dropdown-bg: var(--dark-bg-color);
    --dropdown-border: var(--dark-border-color);
    --dropdown-text: var(--dark-text-color);
    --dropdown-hover: var(--dark-hover-color);
    --dropdown-ring: var(--dark-accent-primary);

    /* Custom Button colors */
    --button-bg: var(--dark-bg-color);
    --button-border: var(--dark-border-color);
    --button-text: var(--dark-text-color);
    --button-hover: var(--dark-hover-color);
    --button-active: var(--dark-active-color);

    /* Custom Button Destructive colors */
    --button-destructive-bg: var(--dark-destructive-bg);
    --button-destructive-border: var(--dark-destructive-border);
    --button-destructive-text: var(--dark-destructive-text);
    --button-destructive-hover: var(--dark-destructive-hover);
    --button-destructive-active: var(--dark-destructive-active);

    /* Custom Button Submit colors */
    --button-submit-bg: var(--dark-submit-bg);
    --button-submit-border: var(--dark-submit-border);
    --button-submit-text: var(--dark-submit-text);
    --button-submit-hover: var(--dark-submit-hover);
    --button-submit-active: var(--dark-submit-active);

    /* Resident Details Card colors */
    --resident-details-bg: var(--dark-bg-color);
    --resident-details-border: var(--dark-border-color);
    --resident-details-title: var(--dark-text-color);
    --resident-details-text: var(--dark-text-secondary-color);
    --resident-details-section-title: var(--dark-text-color);
    --resident-details-section-bg: var(--dark-bg-color);

	/* Profile colors */
    --profile-bg: var(--dark-bg-color);
    --profile-border: var(--dark-border-color);
    --profile-title: var(--dark-text-color);
    --profile-text: var(--dark-text-secondary-color);

	/* Dialog colors */
    --dialog-bg: var(--dark-bg-color);
    --dialog-border: var(--dark-border-color);
    --dialog-title: var(--dark-text-color);
    --dialog-text: var(--dark-text-secondary-color);
  }


}

/* NOTE: from what I understand, css has issues with multiple transitions on the same element | 
	EG: If i had a transition for color, then another for transform, it would be ignored.
	So I have to create a new combined transition for each element that needs it.
 */
@layer utilities {
	/* General theme transition */
  .theme-transition {
    transition-property: color, background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
  }
  
  .resident-list-transition {
    transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
                transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
                color 300ms ease-in-out,
                background-color 300ms ease-in-out,
                border-color 300ms ease-in-out;
    
  }

  .resident-details-transition {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
                opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
                color 300ms ease-in-out,
                background-color 300ms ease-in-out,
                border-color 300ms ease-in-out;
  }

  .header-transition {
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
                color 300ms ease-in-out,
                background-color 300ms ease-in-out,
                border-color 300ms ease-in-out;
  }
}

